<!DOCTYPE html>
 <html>
  <head>
  	<meta charset="utf-8" />
  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>


  <body>
  <!-- Header and Nav -->
  <nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%#= link_to "Awesome Store", products_path %></a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li><%= link_to "Stories", stories_path %></li>
      <li class="divider"></li>
      <li><%#= link_to "Contact Us" %></li>
      <li class="divider"></li>
      <li><%#= link_to "Cart" %></li>
    </ul>
  </div>
  <ul class="hmenu">
  <%= render 'devise/menu/registration_items' %>
  <%= render 'devise/menu/login_items' %>
</ul>
</nav>
  <!-- End Header and Nav --> 
<div class="row">
    <div class="large-12 columns">
      <%= yield %>
    </div>
  </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p> 
    <%= javascript_include_tag "application" %>

<!-- Footer -->
 
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-5 columns">
          <p>&copy; Copyright 2013 Dan Crews</p>
        </div>
        <div class="large-7 columns">
          <ul class="inline-list right">
            <li><a href="#">Section 1</a></li>
            <li><a href="#">Section 2</a></li>
            <li><a href="#">Section 3</a></li>
            <li><a href="#">Section 4</a></li>
            <li><a href="#">Section 5</a></li>
            <li><a href="#">Section 6</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

    
  </body>
</html>
